        <div class="container">
                <div id="messageBox" class="jumbotron">
                    <h1> Welcome to Okta University </h1>

        <!-- Nav Bar -->
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student">Student</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/teacher">Teacher</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/admin">Admin</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Profile</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/profile">Edit Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/tokens">Tokens</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/apps">Apps</a>
            </div>
          </li>
        </ul>
